img {
  width: 100%;
}

li.mb-2.p-2.bd-highlight.bg-secondary {
  text-decoration: none;
}


.landing {
  position: relative;
  background: url('../../img/showcase1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* margin-top: -24px;
  margin-bottom: -50px; */
}

.landing-inner {
  padding-top: 80px;
}

a.btn.btn-lg.btn-light.demo-btn {
  margin-left: 7px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.form-control::placeholder {
  color: #bbb !important;
}

.landing_btns {
  display: flex;
  justify-content: center;
}

a.btn.btn-lg.btn-success {
  margin-top: 10px;
  margin-right: 8px;
}