.container {
  /* background-color: #ccc; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.course-list-item {
  background-color: rgb(196, 255, 219);
  padding: 10px;
  margin: 30px;
  color: blueviolet;
}