.Dashboard {
  /* display: grid;
  grid-template-columns: 150px 150px; */
}

.Dashboard {
  background-image:  url('../../img/dashbg2.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  font-size: 18px;
}