.catalog-search-box {
  height: 450px;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../../img/course-catalog-img.jpg');
  padding: 3%;
}

.catalog-title {
  color: #fff;
  margin-left: 3%;
}

.catalog-text {
  color: #fff;
  margin-left: 3%;
}

.course-list-title {
  height: 100px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  top: 25px;
}

.catalog-course-list {
  background-image:  url('../../../img/dashbg2.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}

.catalog-course-item-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course-list-item-btn {
  padding: 10px 15px;
  text-decoration: none;
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.course-catalog-list-item {
  margin: 0 auto;
  border: 1px solid black;
  position: relative;
  padding: 20px 20px 50px 20px;
}

.list-img {
  width: 100%;
}

/* At 770px Breaks */

@media screen and (max-width: 770px){
  .course-catalog-list-item.col-4.mb-3 {
    display: block;
    flex: none;
    max-width: 100%;
  }
}