.catalog-search-box {
  height: 450px;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../../../img/course-catalog-img.jpg');
}

.catalog-title {
  color: #fff;
}

.catalog-text {
  color: #fff;
}

.course-list-title {
  height: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-course-list {
  background-image:  url('../../../img/dashbg2.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}

.catalog-course-item-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course-list-item-btn {
  padding: 10px 15px;
  text-decoration: none;
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.course-catalog-list-item {
  margin: 0 auto;
  /* flex: 1; */
  border: 1px solid black;
  position: relative;
  padding: 10px 10px 50px 10px;
}

.list-img {
  width: 100%;
}

@media screen and (max-width: 700px){
  .course-catalog-list-item {
    flex-direction: column;
  }
}