html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
}

.App {
  background-image: url('img/dashbg2.jpg');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

ul {
  list-style: none;
}

.submit-btn {
  width: 25%;
  margin: auto;
}
